* {
    box-sizing: border-box;
}

body {
    background-color: #A9D6E5;
    margin: 0px;
}

.nav-bar {
    background-color: #19747E;
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    z-index: 99;
}

.nav-button {
    border: 0px;
    color: #E2E2E2;
    background-color: #19747E;
    width: 32%;
}

.nav-button:active {
    background-color: #125259;
}

.divider {
    background-color: #125259;
    width: 2px;
}

.pop-up-menu-class {
    display: None;
    position: fixed;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    z-index: 1;
    width: 100%;
    height: 100%;
}

#upload-menu-container {
    background-color: white;
    position: absolute;
    width: 450px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

#delete-menu-container {
    background-color: white;
    position: absolute;
    width: 450px;
    border-radius: 20px;
    margin-bottom: 25vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}



#image-feed {
    background-color: #D1E8E2;
    margin-top: 15vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#focus-image-container {
    position: absolute;
    margin-top: 15vh;
    left: 50%;
    transform: translate(-50%);
}

#focussed-image {
    max-width: 450px;
    max-height: 700px;
}

.image-box {
    max-width: 350px;
}

.add-to-album-container {
    display: none;
}

#add-to-album {
    position: fixed;
    height: 100px;
    width: 200px;
    background-color: #125259;
    border-radius: 10px;
    bottom: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#add-to-album > button {
    background-color: yellowgreen;
    border: 0px;
    width: 180px;
    height: 35px;
    border-radius: 10px;
}

#add-to-album > button:active {
    background-color: rgb(97, 129, 33);
}

#albums-container {
    background-color: white;
    position: absolute;
    width: 450px;
    border-radius: 20px;
    margin-top: 15vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

#scrollable-album-container {
    width: 350px;
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}

#scrollable-album-container > ul {
    list-style: none;
    color: black;
    margin-left: 0px;
    font-size: large;
}

#albums-container-on-upload {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scrollable-album-container-on-upload {
    width: 350px;
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}

#scrollable-album-container-on-upload > ul {
    list-style: none;
    color: black;
    margin-left: 0px;
    font-size: large;
}

#scrollable-album-container > ul > label {
    margin-left: 5px;
}

@media (min-width: 768px) {

    #image-feed {
        width: 650px;
        flex-direction: row;
        justify-content: space-around;
    }

    .image-box {
        max-width: 300px;
        max-height: 275px;
    }

    #foc

    #focussed-image {
        max-width: 650px;
        max-height: 800px;
    }

    #focus-image-container {
        margin-top: 0vh;
    }
}

@media (min-width: 1200px) {

    .nav-bar {
        justify-content: left;
    }

    .nav-button {
        width: 15%;
    }

    #image-feed {
        width: 1150px;
        flex-direction: row;
        justify-content: space-around;
    }

    .image-box {
        max-width: 300px;
        max-height: 275px;
    }

    #foc

    #focussed-image {
        max-width: 900px;
        max-height: 1000px;
    }

    #focus-image-container {
        margin-top: 0vh;
    }
}

.highlight {
    background-color: greenyellow;
}

.highlight > img {
    opacity: 0.5;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}